h1{
    background-color: rgb(255, 149, 241);
    color: rgb(255, 255, 255);
    text-align: center;
}

h3{

    text-decoration: underline;

}

.textblue{
    font-size: 20px;
    
    color: rgb(255, 126, 109);
}


.NAME{
    text-align: center;
}



#PicTure
{
    text-align: center;
}

img{
    width: 10%; 
}

body{
    background-color: beige;
}


